$mainLightShade: #f0f0f0;
$mainLightAccent: #7CB3C6;
$mainColor: #285E9E;
$mainDarkAccent: #37549A;
$mainDarkShade: #181A26;

$main-light: #4372b4;

$primary: #2d5ea3;
$info: #181a26;
$success: #439769;
$warning: #c08731;
$danger: #f44336;

$secondLightShade: #F3F4ED;
$secondLightAccent: #92A467;
$secondColor: #7EC4CF;
$secondDarkAccent: #945B8A;
$secondDarkShade: #4885A0;

$second-primary: #7fc1d3;
$second-info: #4885a0;
$second-success: #5bb477;
$second-warning: #d9a43f;
$second-danger: #f44336;